
            <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: #FAFAFA;height: 50px;">
                    <div fxLayoutAlign="space-around center">
                      <img src="" alt="logo">
                    </div>
                    <div fxLayoutAlign="space-around center">
                      
                        <mat-list-item (click)="logout()">
                            <!-- <mat-icon class="md-18" class="menu-icon">home</mat-icon>
                            <a class="nav-links"> Signout </a> -->
                        </mat-list-item>
                  </div>
                </div>
 
   
  